@use '../common/common' as *;

/* メインビジュアル */
.price-cover {
    margin-top: vw(63);
    padding: vw(20) 0 vw(16) 0;
    @include mq() {
        margin-top: vwt(114);
        padding: vwt(39) 0 vwt(19) 0;
    }
    @include mq(lg) {
        margin-top: px2Rem(114);
        padding: px2Rem(39) 0 px2Rem(19) 0;
    }
    &__container {
        max-width: vw(360);
        margin-inline: auto;
        @include mq() {
            max-width: vwt(1200);
            position: relative;
            text-align: center;
        }
        @include mq(lg) {
            max-width: px2Rem(1200);
        }
    }
    &__image {
        width: vw(358);
        height: vw(230);
        @include mq() {
            width: vwt(1200);
            height: vwt(551);
        }
        @include mq(lg) {
            width: px2Rem(1200);
            height: px2Rem(551);
        }
    }
    &__title {
        font-size: vw(30);
        font-weight: bold;
        margin-top: vw(18.5);
        padding-left: vw(1.8);
        @include mq() {
            font-size: vwt(36);
            margin-top: vwt(18.5);
            position: absolute;
            bottom: vwt(-1);
            left: vwt(-1);
            border-radius: 0 vwt(40) 0 0;
            background-color: #fff;
            padding: vwt(23.2) vwt(32.8) vwt(28) vwt(41.6);
        }
        @include mq(lg) {
            font-size: px2Rem(36);
            margin-top: px2Rem(18.5);
            bottom: px2Rem(-1);
            left: px2Rem(-1);
            border-radius: 0 px2Rem(40) 0 0;
            padding: px2Rem(23.2) px2Rem(32.8) px2Rem(28) px2Rem(41.6);
        }
    }
    &__text {
        @include mq() {
            letter-spacing: vwt(1);
        }
        @include mq(lg) {
            letter-spacing: px2Rem(1);
        }
    }
    &__breadcrumb {
        max-width: vw(360);
        margin-inline: auto;
        @include mq() {
            max-width: vwt(1240);
            padding-right: vwt(18);
        }
        @include mq(lg) {
            max-width: px2Rem(1240);
            padding-right: px2Rem(18);
        }
    }
    &__ol {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        justify-content: end;
    }

    &__link {
        color: #000;
        &:hover {
            color: #0056b3;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        font-size: vw(12);
        @include mq() {
            font-size: vwt(12);
        }
        @include mq(lg) {
            font-size: px2Rem(12);
        }
        &--arrow {
            &::after {
                content: "";
                background-image: url("/assets/image/common/arrow.png");
                background-size: contain;
                background-repeat: no-repeat;
                width: vw(5);
                height: vw(10);
                margin: 0 vw(7.3) 0 vw(6.5);
                position: relative;
                display: inline-block;
                @include mq() {
                    width: vwt(5);
                    height: vwt(10);
                    margin: 0 vwt(7.1) 0 vwt(8.3);
                }
                @include mq(lg) {
                    width: px2Rem(5);
                    height: px2Rem(10);
                    margin: 0 px2Rem(7.1) 0 px2Rem(8.3);
                }
            }
        }
    }
}

/* ギャラリー */
.price-gallery {
    padding: vw(26) 0 vw(51.5) 0;
    @include mq() {
        padding: vwt(47) 0 vwt(59.5) 0;
    }
    @include mq(lg) {
        padding: px2Rem(47) 0 px2Rem(59.5) 0;
    }
    &__container {
        max-width: vw(358);
        margin-inline: auto;
        @include mq() {
            max-width: vwt(800);
        }
        @include mq(lg) {
            max-width: px2Rem(800);
        }
    }
    &__heading {
        @include mq() {
            padding: 0 0 vwt(19) 0;
            margin-bottom: vwt(32.3);
        }
        @include mq(lg) {
            padding: 0 0 px2Rem(19) 0;
            margin-bottom: px2Rem(32.3);
        }
    }
    &__image {
        width: 100%;
        height: auto;
    }
}

/* スワイパー(ギャラリーで使用) */
.swiper-slide {
    text-align: center;
    width: vw(358);
    height: vw(237);
    @include mq() {
        width: vwt(800);
        height: vwt(500);
    }
    @include mq(lg) {
        width: px2Rem(800);
        height: px2Rem(500);
    }
}
.swiper-pagination-bullet {
    background-color: #eee;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background-color: #168352;
}
.swiper-pagination-horizontal.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: vw(4);
    left: vw(0);
    @include mq() {
        bottom: vwt(14.1);
        left: vwt(1.6);
    }
    @include mq(lg) {
        bottom: px2Rem(14.1);
        left: px2Rem(1.6);
    }
}

/* 特徴 */
.price-features {
    padding: 0 0 vw(16.2) 0;
        @include mq() {
            padding: 0 0 vwt(20.6) 0;
        }
        @include mq(lg) {
            padding: 0 0 px2Rem(20.6) 0;
        }
    &__container {
        max-width: vw(358);
        margin-inline: auto;
        @include mq() {
            max-width: vwt(800);
        }
        @include mq(lg) {
            max-width: px2Rem(800);
        }
    }
    &__items {
        @include mq() {
            display: flex;
            justify-content: space-between;
            text-align: center;
        }
    }
    &__image {
        width: vw(358);
        height: vw(200);
        @include mq() {
            width: vwt(246);
            height: vwt(150);
        }
        @include mq(lg) {
            width: px2Rem(246);
            height: px2Rem(150);
        }
    }
    &__heading {
        @include mq() {
            padding: 0 0 vwt(18) 0;
            margin-bottom: vwt(33.3);
        }
        @include mq(lg) {
            padding: 0 0 px2Rem(18) 0;
            margin-bottom: px2Rem(33.3);
        }
    }
    &__item {
        margin-bottom: vw(33);
        width: vw(358);
        @include mq() {
            margin-bottom: vwt(31.5);
            width: vwt(247);
        }
        @include mq(lg) {
            margin-bottom: px2Rem(31.5);
            width: px2Rem(247);
        }
    }
    &__description {
        font-size: vw(18);
        font-weight: bold;
        margin-top: vw(8.3);
        line-break: anywhere;
        max-width: vw(350);
        @include mq() {
            font-size: vwt(18);
            max-width: vwt(350);
            margin-top: vwt(6.9);
            text-align: left;
        }
        @include mq(lg) {
            font-size: px2Rem(18);
            max-width: px2Rem(350);
            margin-top: px2Rem(6.9);
        }
        &--second {
            @include mq() {
                letter-spacing: vwt(0.1);
            }
            @include mq(lg) {
                letter-spacing: px2Rem(0.1);
            }
        }
    }
}

/* メーカー小売価格 */
.price-manufacturer {
    padding: 0 0 vw(42.3) 0;
        @include mq() {
            padding: 0 0 vwt(48) 0;
        }
        @include mq(lg) {
            padding: 0 0 px2Rem(48) 0;
        }
    &__container {
        max-width: vw(358);
        margin-inline: auto;
        @include mq() {
            max-width: vwt(800);
        }
        @include mq(lg) {
            max-width: px2Rem(800);
        }
    }
    &__heading {
        margin-bottom: vw(8.6);
        @include mq() {
            margin-bottom: vwt(16.6);
            padding: 0 0 vwt(18.7) 0;

        }
        @include mq(lg) {
            margin-bottom: px2Rem(16.6);
            padding: 0 0 px2Rem(18.7) 0;
        }
    }
    &__price-tax {
        font-size: vw(32);
        font-weight: bold;
        font-family: "Montserrat", sans-serif;
        @include mq() {
            font-size: vwt(32);
        }
        @include mq(lg) {
            font-size: px2Rem(32);
        }
    }
    &__price {
        color: #168352;
    }
    &__tax {
        font-size: vw(16);
        @include mq() {
            font-size: vwt(16);
            padding: 0 0 0 vwt(1.3);
        }
        @include mq(lg) {
            font-size: px2Rem(16);
            padding: 0 0 0 px2Rem(1.3);
        }
    }
}

/* スペック */
.price-spec {
    padding: 0 0 vw(64) 0;
        @include mq() {
            padding: 0 0 vwt(71.7) 0;
        }
        @include mq(lg) {
            padding: 0 0 px2Rem(71.7) 0;
        }
    &__container {
        max-width: vw(358);
        margin-inline: auto;
        @include mq() {
            max-width: vwt(800);
        }
        @include mq(lg) {
            max-width: px2Rem(800);
        }
    }

    &__heading {
        margin-bottom: vw(23);
        @include mq() {
            margin-bottom: vwt(31.4);
            padding: 0 0 vwt(20.2) 0;
        }
        @include mq(lg) {
            margin-bottom: px2Rem(31.4);
            padding: 0 0 px2Rem(20.2) 0;
        }
    }

    &__detail {
        @include mq() {
            max-width: vwt(740);
            margin-inline: auto;
        }
        @include mq(lg) {
            max-width: px2Rem(740);
        }
    }

    &__heading-three {
        font-size: vw(20);
        font-weight: bold;
        border-left: vw(2) solid #168352;
        padding-left: vw(15.5);
        margin-bottom: vw(17.1);
        line-height: 1.5;
        @include mq() {
            font-size: vwt(24);
            border-left: vwt(2) solid #168352;
            padding-left: vwt(17.3);
            margin-bottom: vwt(22.8);
            line-height: 1.7;
        }
        @include mq(lg) {
            font-size: px2Rem(24);
            border-left: px2Rem(2) solid #168352;
            padding-left: px2Rem(17.3);
            margin-bottom: px2Rem(22.8);
        }
    }

    &__table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        @include mq() {
            border: vwt(1) solid #ddd;
        }
        @include mq(lg) {
            border: px2Rem(1) solid #ddd;
        }
    }

    &__tr {
        display: flex;
        flex-direction: column;
        @include mq() {
            flex-direction: row;
        }
    }

    &__th,
    &__td {
        padding: vw(5) 0 vw(5) vw(18.5);
        font-size: vw(16);
        text-align: left;
        @include mq() {
            padding: vwt(16.4) 0 vwt(16.4) vwt(17.7);
            font-size: vwt(16);
        }
        @include mq(lg) {
            padding: px2Rem(16.4) 0 px2Rem(16.4) px2Rem(17.7);
            font-size: px2Rem(16);
        }
    }

    &__th {
        border: vw(1) solid #ddd;
        border-bottom: none;
        @include mq() {
            border: vwt(1) solid #ddd;

            width: vwt(266.5);
        }
        @include mq(lg) {
            border: px2Rem(1) solid #ddd;

            width: px2Rem(266.5);
        }
    }
    &__td {
        border: vw(1) solid #ddd;
        &--last {
            border-bottom: vw(1) solid #ddd;
        }
        border-bottom: none;
        @include mq() {
            border: vwt(1) solid #ddd;

            width: 100%;
            padding-left: vwt(22.5);
        }
        @include mq(lg) {
            border: px2Rem(1) solid #ddd;

            padding-left: px2Rem(22.5);
        }

    }
    

    &__th {
        background-color: #f5f5f5;
        font-weight: bold;
    }
}

/* お問い合わせ */
.price-contact {
    background-image: url("/assets/image/price/contact_sp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: vw(360);
    @include mq() {
        background-image: url("/assets/image/price/contact_pc.jpg");
        height: vwt(450);
        padding: 0;
        margin-top: 0;
    }
    @include mq(lg) {
        height: px2Rem(450);
    }
    &__container {
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        height: 100%;
    }
    &__btn {
        max-width: vw(358);
        margin-inline: auto;
        display: block;
        width: 100%;
        cursor: pointer;
        padding: vw(20) 0 vw(21) 0;
        color: #fff;
        text-align: center;
        background-color: transparent;
        border: vw(2) solid #fff;
        border-radius: vw(40);
        font-size: vw(20);
        font-weight: bold;
        transition: background-color 0.3s, color 0.3s;
        @include mq() {
            max-width: vwt(358);
            padding: vwt(20) 0;
            border: vwt(2) solid #fff;
            border-radius: vwt(40);
            font-size: vwt(20);
            margin-bottom: vwt(1.1);
        }
        @include mq(lg) {
            max-width: px2Rem(358);
            padding: px2Rem(20) 0;
            border: px2Rem(2) solid #fff;
            border-radius: px2Rem(40);
            font-size: px2Rem(20);
            margin-bottom: px2Rem(1.1);
        }
        &:hover {
            background-color: #fff;
            color: #168352;
        }
    }
}
