@use '../common/common' as *;

.faq-cover {
    margin-top: vw(63);
    padding: vw(20) 0 vw(35) 0;
    @include mq() {
        margin-top: vwt(114);
        padding: vwt(34) 0 vwt(56) 0;
    }
    @include mq(lg) {
        margin-top: px2Rem(114);
        padding: px2Rem(34) 0 px2Rem(56) 0;
    }
    &__container {
        max-width: vw(360);
        margin-inline: auto;
        @include mq() {
            max-width: vwt(1200);
        }
        @include mq(lg) {
            max-width: px2Rem(1200);
        }
    }
    &__image {
        width: vw(358);
        height: vw(230);
        margin-bottom: vw(17.8);
    }
    &__title {
        font-size: vw(30);
        font-weight: bold;
        @include mq() {
            font-size: vwt(36);
        }
        @include mq(lg) {
            font-size: px2Rem(36);
        }
    }
    &__breadcrumb {
        margin-top: vw(17);
        @include mq() {
            margin-top: vwt(17);
        }
        @include mq(lg) {
            margin-top: px2Rem(17);
        }
    }
    &__ol {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        justify-content: end;
    }

    &__link {
        color: #000;
        &:hover {
            color: #0056b3;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        font-size: vw(12);
        @include mq() {
            font-size: vwt(12);
        }
        @include mq(lg) {
            font-size: px2Rem(12);
        }
        &--highlight {
            font-weight: bold;
            color: #168352;
        }
        &--arrow {
            &::after {
                content: "";
                background-image: url("/assets/image/price/cover_arrow_sp.png");
                background-size: contain;
                background-repeat: no-repeat;
                width: vw(5);
                height: vw(10);
                margin: 0 vw(7.3) 0 vw(6.5);
                position: relative;
                display: inline-block;
                @include mq() {
                    width: vwt(5);
                    height: vwt(10);
                    margin: 0 vwt(7.3) 0 vwt(6.5);
                }
                @include mq(lg) {
                    width: px2Rem(5);
                    height: px2Rem(10);
                    margin: 0 px2Rem(7.3) 0 px2Rem(6.5);
                }
            }
        }
    }
}

/* Q&A */
.faq {
    padding-bottom: vw(162.2);
    &__container {
        max-width: vw(358);
        margin-inline: auto;
    }

    &__accordion {
        border: vw(1) solid #ccc;
        border-radius: vw(16);
        padding: vw(22) vw(24) vw(15) vw(23);
        margin-bottom: vw(24);
    }


    &__accordion-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
    }

    &__accordion-content.open {
        max-height: 500px;
    }

    &__accordion-trigger {
        display: flex;
        align-items: flex-start;
    }

    &__text-q {
        font-size: vw(24);
        font-weight: bold;
        color: #168352;
        font-family: "Montserrat", sans-serif;
        line-height: 1;
    }

    &__item {
        padding: 0 0 0 vw(16);
    }

    &__categories {
        display: flex;
        margin-right: vw(7.8);
    }

    &__category {
        text-align: center;
        border-radius: vw(4);
        border: vw(1) solid #168352;
        font-size: vw(11);
        padding: vw(1.2) vw(10.4) vw(1.2);
        display: block;
        width: vw(100);
        height: vw(24);
        color: #168352;
    }

    .faq__category-first {
        margin-right: vw(8);
    }
    &__accordion-icon {
        margin-top: vw(11);
        margin-left: auto;
    }

    &__text {
        display: block;
    }

    &__question {
        font-size: vw(16);
        font-weight: bold;
        padding: vw(1) vw(9) 0 vw(0.3) ;
    }

    &__accordion-icon {
        height: vw(3);
    }

    &__answer {
        font-size: vw(16);
        padding: vw(1.6);
        line-break: anywhere;
    }

}
