@use '../common/common' as *;

/* メインビジュアル */
.faq-cover {
    margin-top: vw(63);
    padding: vw(20) 0 vw(16) 0;
    @include mq() {
        margin-top: vwt(114);
        padding: vwt(40) 0 vwt(18.5) 0;
    }
    @include mq(lg) {
        margin-top: px2Rem(114);
        padding: px2Rem(40) 0 px2Rem(18.5) 0;
    }
    &__container {
        max-width: vw(360);
        margin-inline: auto;
        @include mq() {
            text-align: center;
            position: relative;
            max-width: vwt(1200);
        }
        @include mq(lg) {
            max-width: px2Rem(1200);
        }
    }
    &__image {
        width: vw(358);
        height: vw(230);
        margin-bottom: vw(17.8);
        @include mq() {
            width: vwt(1200);
            height: vwt(550);
            margin-bottom: 0;
        }
        @include mq(lg) {
            width: px2Rem(1200);
            height: px2Rem(550);
        }
    }
    &__title {
        font-size: vw(30);
        font-weight: bold;
        @include mq() {
            font-size: vwt(36);
            margin-top: vwt(18.5);
            position: absolute;
            bottom: vwt(-1);
            left: vwt(-1);
            border-radius: 0 vwt(40) 0 0;
            background-color: #fff;
            padding: vwt(23.2) vwt(32.8) vwt(28) vwt(41.6);
        }
        @include mq(lg) {
            font-size: px2Rem(36);
            margin-top: px2Rem(18.5);
            bottom: px2Rem(-1);
            left: px2Rem(-1);
            border-radius: 0 px2Rem(40) 0 0;
            padding: px2Rem(23.2) px2Rem(32.8) px2Rem(28) px2Rem(41.6);
        }
    }
    &__breadcrumb {
        max-width: vw(360);
        margin-inline: auto;
        @include mq() {
            max-width: vwt(1240);
            padding-right: vwt(18.3);
        }
        @include mq(lg) {
            max-width: px2Rem(1240);

            padding-right: px2Rem(18.3);
        }
    }
    &__ol {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        justify-content: end;
    }

    &__link {
        color: #000;
        &:hover {
            color: #0056b3;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        font-size: vw(12);
        @include mq() {
            font-size: vwt(12);
        }
        @include mq(lg) {
            font-size: px2Rem(12);
        }
        &--highlight {
            font-weight: bold;
            color: #168352;
        }
        &--arrow {
            &::after {
                content: "";
                background-image: url("/assets/image/common/arrow.png");
                background-size: contain;
                background-repeat: no-repeat;
                width: vw(5);
                height: vw(10);
                margin: 0 vw(7.3) 0 vw(7.1);
                position: relative;
                display: inline-block;
                @include mq() {
                    width: vwt(5);
                    height: vwt(10);
                    margin: 0 vwt(8) 0 vwt(6.5);
                }
                @include mq(lg) {
                    width: px2Rem(5);
                    height: px2Rem(10);
                    margin: 0 px2Rem(8) 0 px2Rem(6.5);
                }
            }
        }
    }
}

/* FAQ */
.faq {
    padding: vw(35) 0 vw(145) 0;
    @include mq() {
        padding: vwt(59) 0 vwt(48.4) 0;
    }
    @include mq(lg) {
        padding: px2Rem(59) 0 px2Rem(48.4) 0;
    }
    &__container {
        max-width: vw(358);
        margin-inline: auto;
        @include mq() {
            max-width: vwt(800);
        }
        @include mq(lg) {
            max-width: px2Rem(800);
        }
    }

    &__accordion {
        border: vw(1) solid #ccc;
        border-radius: vw(16);
        margin-bottom: vw(24);
        @include mq() {
            border: vwt(1) solid #ccc;
            border-radius: vwt(16);
            margin-bottom: vwt(24);
        }
        @include mq(lg) {
            border: px2Rem(1) solid #ccc;
            border-radius: px2Rem(16);
            margin-bottom: px2Rem(24);
        }
        &-q {
            display: flex;
            align-items: flex-start;
            padding: vw(23) vw(24) vw(17) vw(23);
            &--second {
                padding-top: vw(23);
            }
            &--third {
                padding-top: vw(23);
            }
            @include mq() {
                padding: vwt(22.79) vwt(31) vwt(15) vwt(31);
            }
            @include mq(lg) {
                padding: px2Rem(22.79) px2Rem(31) px2Rem(15) px2Rem(31);
            }
        }
        &-item {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            box-sizing: border-box;
            padding: 0 0 0 vw(16);
            @include mq() {
                padding: 0 0 0 vwt(14.8);
            }
            @include mq(lg) {
                padding: 0 0 0 px2Rem(14.8);
            }
            &::after {
                content: "";
                display: inline-block;
                background-image: url('/assets/image/faq/faq_plus.png');
                background-size: contain;
                background-repeat: no-repeat;
                height: vw(19);
                width: vw(20);
                flex-shrink: 0;
                margin-top: vw(4);
                @include mq() {
                    height: vwt(19);
                    width: vwt(20);
                    margin-top: vwt(4);
                }
                @include mq(lg) {
                    height: px2Rem(19);
                    width: px2Rem(20);
                    margin-top: px2Rem(4);
                }
            }
        }
        &-open &-item::after {
            background-image: url('/assets/image/faq/faq_minus.png');
            margin-top: vw(12);
            height: vw(3);
            width: vw(20);
            @include mq() {
                height: vwt(3);
                width: vwt(20);
                margin-top: vwt(12);
            }
            @include mq(lg) {
                height: px2Rem(3);
                width: px2Rem(20);
                margin-top: px2Rem(12);
            }
        }
        &-open &-q {
            padding: vw(23) vw(24) 0 vw(23);
            @include mq() {
                padding: vwt(22.79) vwt(31) vwt(15) vwt(31);
            }
            @include mq(lg) {
                padding: px2Rem(22.79) px2Rem(31) px2Rem(15) px2Rem(31);
            }
        }
    }

    &__text {
        display: block;
    }
    &__text-q {
        font-size: vw(24);
        font-weight: bold;
        color: #168352;
        font-family: "Montserrat", sans-serif;
        line-height: 1;
        @include mq() {
            font-size: vwt(24);
            position: relative;
            top: vwt(-2.1);
        }
        @include mq(lg) {
            font-size: px2Rem(24);
            top: px2Rem(-2.1);
        }
    }

    &__categories {
        display: flex;
        margin-right: vw(7.8);
        @include mq() {
            margin-right: vwt(7.8);
        }
        @include mq(lg) {
            margin-right: px2Rem(7.8);
        }
    }

    &__category {
        text-align: center;
        border-radius: vw(4);
        border: vw(1) solid #168352;
        font-size: vw(11);
        padding: vw(1.2) vw(10.4) vw(1.2);
        display: block;
        width: vw(100);
        height: vw(24);
        color: #168352;
        white-space: nowrap;
        @include mq() {
            border-radius: vwt(4);
            border: vwt(1) solid #168352;
            font-size: vwt(11);
            padding: vwt(1.2) vwt(10.4) vwt(1.2);
            width: vwt(100);
            height: vwt(24);
        }
        @include mq(lg) {
            border-radius: px2Rem(4);
            border: px2Rem(1) solid #168352;
            font-size: px2Rem(11);
            padding: px2Rem(1.2) px2Rem(10.4) px2Rem(1.2);
            width: px2Rem(100);
            height: px2Rem(24);
        }
        &--first {
            margin-right: vw(8);
            @include mq() {
                margin-right: vwt(8);
            }
            @include mq(lg) {
                margin-right: px2Rem(8);
            }
        }
    }
    
    &__question {
        font-size: vw(16);
        font-weight: bold;
        padding: vw(0.8) vw(9) 0 vw(0.3);
        @include mq() {
            font-size: vwt(18);
            padding: vwt(8.6) vwt(9) 0 vwt(0.5);
        }
        @include mq(lg) {
            font-size: px2Rem(18);
            padding: px2Rem(8.6) px2Rem(9) 0 px2Rem(0.5);
        }
        &--fifth {
            line-break: anywhere;
        }
        &--seventh {
            line-break: anywhere;
            padding-right: px2Rem(14.85);
            @include mq() {
                padding-right: vwt(14.85);
            }
            @include mq(lg) {
                padding-right: px2Rem(14.85);
            }
        }
        &--eighth {
            line-break: anywhere;
            padding-right: vw(14.85);
            @include mq() {
                padding-right: vwt(14.85);
            }
            @include mq(lg) {
                padding-right: px2Rem(14.85);
            }
        }
    }
    
    &__accordion-content {
        padding: 0 vw(19) vw(15.1) vw(23);
        display: none;
        @include mq() {
            padding: 0 vwt(24) vwt(16) vwt(30);
        }
        @include mq(lg) {
            padding: 0 px2Rem(24) px2Rem(16) px2Rem(30);
        }
    }
    
    &__answer {
        font-size: vw(16);
        padding: vw(1.6) vw(1.6) vw(1.6) vw(3.8);
        line-break: anywhere;
        &--first, &--second, &--third {
            padding: vw(1.6);
        }
        &--fifth {
            padding: 0 vw(1.6) vw(1.6) vw(3.8);
        }
        &--eleventh {
            padding: vw(9.8) vw(1.6) vw(1.6) vw(3.8);
        }
        @include mq() {
            font-size: vwt(16);
            padding: vwt(1.6);
        }
        @include mq(lg) {
            font-size: px2Rem(16);
            padding: px2Rem(1.6);
        }
        &--seventh {
            @include mq() {
                padding-right: vwt(7.3);
            }
            @include mq(lg) {
                padding-right: px2Rem(7.3);
            }
        }
    }
}
