@charset "UTF-8";
/* 共通 */
body {
    margin: 0 auto;
    font-family: "Noto Sans JP", sans-serif;
    line-height: 1.75;
    color: #333;
}

main {
    width: 100%;
}

a {
    text-decoration: none;
    color: #FFF;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

li {
    list-style: none;
}

.text-en {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #168352;
    display: block;
    margin-bottom: 1px;
}
@media screen and (min-width: 768px) {
    .text-en {
        font-size: 20px;
        margin-bottom: 1px;
    }
}
@media screen and (min-width: 1240px) {
    .text-en {
        font-size: 20px;
        margin-bottom: 1px;
    }
}

.text-jp {
    font-size: 20px;
    font-weight: bold;
    display: block;
}
@media screen and (min-width: 768px) {
    .text-jp {
        font-size: 28px;
        padding-left: 1.5px;
    }
}
@media screen and (min-width: 1240px) {
    .text-jp {
        font-size: 28px;
        padding-left: 1.5px;
    }
}

.heading {
    line-height: 1.4;
    text-align: center;
}
@media screen and (min-width: 768px) {
    .heading {
        line-height: 1.601;
    }
}

.price-heading {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 7.5px;
    margin-bottom: 24px;
    background-image: linear-gradient(to right, #168352 0 50px, #ddd 50px 100%);
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: bottom;
}
@media screen and (min-width: 768px) {
    .price-heading {
        font-size: 28px;
        padding-bottom: 7.5px;
        margin-bottom: 24px;
        background-image: linear-gradient(to right, #168352 0 100px, #ddd 50px 100%);
        background-size: 100% 5px;
    }
}
@media screen and (min-width: 1240px) {
    .price-heading {
        font-size: 28px;
        padding-bottom: 7.5px;
        margin-bottom: 24px;
        background-image: linear-gradient(to right, #168352 0 100px, #ddd 50px 100%);
        background-size: 100% 5px;
    }
}

.line-break {
    display: inline-block;
}
@media screen and (min-width: 768px) {
    .line-break--disable {
        display: inline;
    }
}

/* ヘッダー */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #fff;
}
.header__container {
    max-width: 358px;
    margin-inline: auto;
    padding: 15px 0;
}
@media screen and (min-width: 768px) {
    .header__container {
        max-width: 1168px;
        padding: 42px 0;
    }
}
@media screen and (min-width: 1240px) {
    .header__container {
        max-width: 1168px;
        padding: 42px 0;
    }
}
.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__title {
    line-height: 0.7;
}
@media screen and (min-width: 768px) {
    .header__title {
        padding: 0 0 3.7px 0;
    }
}
@media screen and (min-width: 1240px) {
    .header__title {
        padding: 0 0 3.7px 0;
    }
}
.header__logo {
    width: 197px;
    height: 23px;
}
@media screen and (min-width: 768px) {
    .header__logo {
        width: 263px;
        height: 30px;
    }
}
@media screen and (min-width: 1240px) {
    .header__logo {
        width: 263px;
        height: 30px;
    }
}
.header__hamburger {
    width: 24px;
    height: 100%;
    cursor: pointer;
    margin-left: auto;
    padding-top: 7.6px;
}
@media screen and (min-width: 768px) {
    .header__hamburger {
        display: none;
    }
}
.header__line {
    display: block;
    margin: 0 0 6.2px 0;
    height: 2px;
    background-color: #000;
}
.header__line-third {
    margin: 0 0 0 0;
}
.header__sp-nav {
    text-align: center;
    border-radius: 24px;
    position: fixed;
    top: 62px;
    right: -100%;
    max-width: 358px;
    background-color: #168352;
    width: 100%;
    font-size: 18px;
    transition: right 0.3s;
    z-index: 10;
    padding: 22px;
}
@media screen and (min-width: 768px) {
    .header__sp-nav {
        display: none;
    }
}
.header__active {
    right: 16px;
}
.header__sp-list {
    padding: 12px 0;
}
.header__sp-list--first {
    padding-right: 6px;
}
.header__pc-nav {
    display: none;
}
@media screen and (min-width: 768px) {
    .header__pc-nav {
        padding: 0 0 6px 0;
        display: block;
    }
}
@media screen and (min-width: 1240px) {
    .header__pc-nav {
        padding: 0 0 6px 0;
    }
}
.header__pc-ul {
    display: flex;
    gap: 33px;
    font-size: 18px;
    font-weight: bold;
}
@media screen and (min-width: 768px) {
    .header__pc-ul {
        font-size: 16px;
        gap: 37.8px;
    }
}
@media screen and (min-width: 1240px) {
    .header__pc-ul {
        font-size: 16px;
        gap: 37.8px;
    }
}
.header__pc-link {
    color: #000;
}
.header__pc-link:hover {
    color: #168352;
}
.header__pc-link--highlight {
    color: #168352;
}

/* フッター */
.footer {
    padding: 23.5px 0 24.3px 0;
    background-color: #168352;
}
@media screen and (min-width: 768px) {
    .footer {
        padding: 35.8px 0 39px 0.1px;
    }
}
@media screen and (min-width: 1240px) {
    .footer {
        padding: 35.8px 0 39px 0.1px;
    }
}
.footer__container {
    max-width: 360px;
    margin-inline: auto;
}
.footer__ul {
    display: flex;
    justify-content: center;
    font-size: 13px;
}
.footer__link--first {
    letter-spacing: 0.2px;
}
@media screen and (min-width: 768px) {
    .footer__link--first {
        font-size: 15px;
        letter-spacing: 0;
    }
}
@media screen and (min-width: 1240px) {
    .footer__link--first {
        font-size: 15px;
    }
}
@media screen and (min-width: 768px) {
    .footer__link--second {
        font-size: 15px;
    }
}
@media screen and (min-width: 1240px) {
    .footer__link--second {
        font-size: 14px;
    }
}
.footer__list {
    padding: 0 16.2px 0 0.2px;
    line-height: 1.5;
    display: flex;
}
@media screen and (min-width: 768px) {
    .footer__list {
        padding: 0 21.4px 0 0;
        line-height: 1.5;
    }
}
@media screen and (min-width: 1240px) {
    .footer__list {
        padding: 0 21.4px 0 0;
        line-height: 1.5;
    }
}
.footer__list + .footer__list {
    border-left: 1px solid #fff;
    padding: 0 0 0 15px;
}
@media screen and (min-width: 768px) {
    .footer__list + .footer__list {
        padding: 0 0 0 18.9px;
        border-left: 1px solid #fff;
    }
}
@media screen and (min-width: 1240px) {
    .footer__list + .footer__list {
        border-left: 1px solid #fff;
        padding: 0 0 0 18.9px;
    }
}
.footer__link:hover {
    opacity: 0.8;
}

/* メインビジュアル */
.cover {
    margin-top: 63px;
    padding: 8.7px 0 52px 0;
}
@media screen and (min-width: 768px) {
    .cover {
        margin-top: 114px;
        padding: 37px 0 56px 0;
    }
}
@media screen and (min-width: 1240px) {
    .cover {
        margin-top: 114px;
        padding: 37px 0 56px 0;
    }
}
.cover__container {
    max-width: 358px;
    margin-inline: auto;
}
@media screen and (min-width: 768px) {
    .cover__container {
        max-width: 1176px;
    }
}
@media screen and (min-width: 1240px) {
    .cover__container {
        max-width: 1176px;
    }
}
@media screen and (min-width: 768px) {
    .cover__text {
        display: flex;
        justify-content: space-between;
        padding: 0 41.7px 0 37.2px;
        margin-bottom: 23.5px;
    }
}
@media screen and (min-width: 1240px) {
    .cover__text {
        max-width: 1176px;
        padding: 0 41.7px 0 37.2px;
        margin-bottom: 23.5px;
    }
}
.cover__title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
    .cover__title {
        font-size: 40px;
    }
}
@media screen and (min-width: 1240px) {
    .cover__title {
        font-size: 40px;
    }
}
.cover__description {
    font-size: 15px;
    line-break: anywhere;
    margin-bottom: 26px;
    padding: 0 0 0 0.7px;
}
@media screen and (min-width: 768px) {
    .cover__description {
        font-size: 15px;
        width: 525px;
        margin-bottom: 0;
        padding: 10.5px 0 0 0;
    }
}
@media screen and (min-width: 1240px) {
    .cover__description {
        font-size: 15px;
        width: 525px;
        padding: 10.5px 0 0 0;
    }
}
.cover__content {
    width: 100%;
    text-align: center;
}
.cover__image {
    width: 358px;
    height: 450px;
}
@media screen and (min-width: 768px) {
    .cover__image {
        width: 1167px;
        height: 550px;
    }
}
@media screen and (min-width: 1240px) {
    .cover__image {
        width: 1167px;
        height: 550px;
    }
}

/* 私たちについて */
@media screen and (min-width: 768px) {
    .about {
        padding: 0 0 65.4px 0;
    }
}
@media screen and (min-width: 1240px) {
    .about {
        padding: 0 0 65.4px 0;
    }
}
.about__heading {
    line-height: 1.4;
    text-align: center;
    margin-bottom: 52.58px;
}
@media screen and (min-width: 768px) {
    .about__heading {
        line-height: 1.6;
        margin-bottom: 24px;
    }
}
@media screen and (min-width: 1240px) {
    .about__heading {
        margin-bottom: 24px;
    }
}
@media screen and (min-width: 768px) {
    .about__container {
        margin-inline: auto;
        max-width: 1000px;
    }
}
@media screen and (min-width: 1240px) {
    .about__container {
        max-width: 1000px;
    }
}
@media screen and (min-width: 768px) {
    .about__content {
        display: flex;
        justify-content: space-between;
        padding: 0 29.7px 0 15.5px;
    }
}
@media screen and (min-width: 1240px) {
    .about__content {
        padding: 0 29.7px 0 15.5px;
    }
}
.about__description {
    background-color: #fff;
    opacity: 0.8;
    border-radius: 32px;
    max-width: 358px;
    margin-inline: auto;
    padding: 13.85px 0 18px 0;
}
@media screen and (min-width: 768px) {
    .about__description {
        margin: 100.7px 0;
        opacity: 1;
        padding: 0;
        max-width: 415px;
    }
}
@media screen and (min-width: 1240px) {
    .about__description {
        padding: 0;
        margin: 100.7px 0;
        max-width: 415px;
    }
}
.about__text--first {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 7px;
    padding: 0 26.9px 0 25.3px;
}
@media screen and (min-width: 768px) {
    .about__text--first {
        font-size: 20px;
        margin-bottom: 25.7px;
        padding: 0;
        letter-spacing: 0.1px;
    }
}
@media screen and (min-width: 1240px) {
    .about__text--first {
        font-size: 20px;
        margin-bottom: 25.7px;
        letter-spacing: 0.1px;
    }
}
.about__text--second {
    font-size: 15px;
    padding: 0 25.4px;
}
@media screen and (min-width: 768px) {
    .about__text--second {
        font-size: 15px;
        padding: 0;
        line-break: anywhere;
    }
}
@media screen and (min-width: 1240px) {
    .about__text--second {
        font-size: 15px;
    }
}
.about__image {
    background-image: url("/assets/image/top/about_us_sp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 32px 0;
    width: 100%;
    height: 545px;
    position: relative;
    z-index: -1;
    margin-top: -513px;
}
@media screen and (min-width: 768px) {
    .about__image {
        background-image: url("/assets/image/top/about_us_pc.jpg");
        width: 390px;
        height: 570px;
        padding: 0;
        margin-top: 0;
    }
}
@media screen and (min-width: 1240px) {
    .about__image {
        width: 390px;
        height: 570px;
    }
}
.about__line-break {
    display: inline;
}
@media screen and (min-width: 768px) {
    .about__line-break {
        line-break: anywhere;
        display: inline-block;
    }
}
/* 私たちが選ばれる3つの理由 */
.features {
    padding: 51px 0 34.5px 0;
    background-color: #f3f9f6;
}
@media screen and (min-width: 768px) {
    .features {
        padding: 55px 0 64.5px 0;
    }
}
@media screen and (min-width: 1240px) {
    .features {
        padding: 55px 0 64.5px 0;
    }
}
.features__container {
    max-width: 358px;
    margin-inline: auto;
}
@media screen and (min-width: 768px) {
    .features__container {
        max-width: 1168px;
    }
}
@media screen and (min-width: 1240px) {
    .features__container {
        max-width: 1168px;
    }
}
.features__heading {
    margin-bottom: 20.7px;
}
@media screen and (min-width: 768px) {
    .features__heading {
        margin-bottom: 24px;
    }
}
@media screen and (min-width: 1240px) {
    .features__heading {
        margin-bottom: 24px;
    }
}
.features__image {
    border-radius: 24px 24px 0 0;
    width: 358px;
    height: 201px;
}
@media screen and (min-width: 768px) {
    .features__image {
        border-radius: 24px 24px 0 0;
        width: 369px;
        height: 226px;
    }
}
@media screen and (min-width: 1240px) {
    .features__image {
        border-radius: 24px 24px 0 0;
        width: 369px;
        height: 226px;
    }
}
@media screen and (min-width: 768px) {
    .features__items {
        display: flex;
        justify-content: space-between;
    }
}
.features__item {
    border-radius: 24px;
    box-shadow: 0 0.8px 6px rgba(0, 0, 0, 0.25);
    margin-bottom: 21.5px;
    width: 358px;
}
@media screen and (min-width: 768px) {
    .features__item {
        box-shadow: 0 0.8px 6px rgba(0, 0, 0, 0.25);
        border-radius: 24px;
        width: 369px;
        margin-bottom: 0;
    }
}
@media screen and (min-width: 1240px) {
    .features__item {
        box-shadow: 0 0.8px 6px rgba(0, 0, 0, 0.25);
        border-radius: 24px;
        width: 369px;
    }
}
.features__description {
    background-color: #fff;
    padding: 11.4px 16px 14px;
    border-radius: 0 0 24px 24px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.7;
}
@media screen and (min-width: 768px) {
    .features__description {
        font-size: 19px;
        padding: 12.2px 20.3px 15.4px 20.3px;
        border-radius: 0 0 24px 24px;
        letter-spacing: 0.1px;
    }
}
@media screen and (min-width: 1240px) {
    .features__description {
        font-size: 19px;
        padding: 12.2px 20.3px 15.4px 20.3px;
        border-radius: 0 0 24px 24px;
        letter-spacing: 0.1px;
    }
}
@media screen and (min-width: 768px) {
    .features__description--third {
        letter-spacing: 0;
    }
}

/* 製品・サービス紹介 */
.products-service {
    padding: 53px 0 36px 0;
}
@media screen and (min-width: 768px) {
    .products-service {
        padding: 57.8px 0 63.3px 0;
    }
}
@media screen and (min-width: 1240px) {
    .products-service {
        padding: 57.8px 0 63.3px 0;
    }
}
.products-service__container {
    max-width: 358px;
    margin-inline: auto;
}
@media screen and (min-width: 768px) {
    .products-service__container {
        max-width: 1100px;
    }
}
@media screen and (min-width: 1240px) {
    .products-service__container {
        max-width: 1100px;
    }
}
.products-service__heading {
    margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
    .products-service__heading {
        margin-bottom: 25px;
    }
}
@media screen and (min-width: 1240px) {
    .products-service__heading {
        margin-bottom: 25px;
    }
}
@media screen and (min-width: 768px) {
    .products-service__text--jp {
        padding: 1.6px 1.3px 0 0;
    }
}
@media screen and (min-width: 1240px) {
    .products-service__text--jp {
        padding: 1.6px 1.3px 0 0;
    }
}
@media screen and (min-width: 768px) {
    .products-service__items {
        display: flex;
        flex-wrap: wrap;
    }
}
.products-service__item {
    background-color: #168352;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 23px 20px 24px;
    border-radius: 24px;
    margin-bottom: 20px;
    color: #fff;
    cursor: pointer;
}
@media screen and (min-width: 768px) {
    .products-service__item {
        width: 525px;
        padding: 23px 31px;
        border-radius: 24px;
        margin-bottom: 40px;
        margin-right: 49px;
    }
}
@media screen and (min-width: 1240px) {
    .products-service__item {
        width: 525px;
        padding: 23px 31px;
        border-radius: 24px;
        margin-bottom: 40px;
        margin-right: 49px;
    }
}
@media screen and (min-width: 768px) {
    .products-service__item--small {
        width: 333px;
        margin-bottom: 0;
        margin-right: 49.95px;
        padding: 20px 23px 20px 24.7px;
    }
}
@media screen and (min-width: 1240px) {
    .products-service__item--small {
        width: 333px;
        margin-right: 49.95px;
        padding: 20px 23px 20px 24.7px;
    }
}
@media screen and (min-width: 768px) {
    .products-service__item--second {
        margin-right: 0;
    }
}
@media screen and (min-width: 768px) {
    .products-service__item--fifth {
        margin-right: 0;
    }
}
.products-service__item:hover {
    background-color: #dffaec;
    color: #168352;
}
.products-service__image {
    width: 100px;
    height: 100px;
}
@media screen and (min-width: 768px) {
    .products-service__image {
        width: 134px;
        height: 134px;
    }
}
@media screen and (min-width: 1240px) {
    .products-service__image {
        width: 134px;
        height: 134px;
    }
}
@media screen and (min-width: 768px) {
    .products-service__image--small {
        width: 110px;
        height: 110px;
    }
}
@media screen and (min-width: 1240px) {
    .products-service__image--small {
        width: 110px;
        height: 110px;
    }
}
.products-service__description {
    font-size: 18px;
    font-weight: bold;
    display: block;
    width: 180px;
    margin: 0 14px 0.9px 0;
}
@media screen and (min-width: 768px) {
    .products-service__description {
        margin: 0;
        font-size: 24px;
        margin-right: 79.6px;
        width: 220px;
    }
}
@media screen and (min-width: 1240px) {
    .products-service__description {
        font-size: 24px;
        margin-right: 79.6px;
        width: 220px;
    }
}
@media screen and (min-width: 768px) {
    .products-service__description--small {
        font-size: 20px;
        margin-right: 15.6px;
        width: 140px;
    }
}
@media screen and (min-width: 1240px) {
    .products-service__description--small {
        font-size: 20px;
        margin-right: 15.6px;
        width: 140px;
    }
}
.products-service__description--second {
    margin: 0 13.9px -1.86px 0;
}
@media screen and (min-width: 768px) {
    .products-service__description--second {
        margin: 0 79.5px 0 0;
        padding-bottom: 2px;
    }
}
@media screen and (min-width: 1240px) {
    .products-service__description--second {
        margin: 0 79.5px 0 0;
        padding-bottom: 2px;
    }
}
.products-service__description--third {
    margin: 0 13.9px 3.6px 0;
}
@media screen and (min-width: 768px) {
    .products-service__description--third {
        margin: 0;
        width: 157.6px;
        padding: 0 0 3.9px 1.5px;
    }
}
@media screen and (min-width: 1240px) {
    .products-service__description--third {
        width: 157.6px;
        padding: 0 0 3.9px 1.5px;
    }
}
.products-service__description--fourth {
    margin: 0 14px -1px 0;
    letter-spacing: 0.1px;
}
@media screen and (min-width: 768px) {
    .products-service__description--fourth {
        margin: 0;
        letter-spacing: 0.1px;
        width: 143px;
        margin-right: 12.5px;
        padding-bottom: 0.5px;
    }
}
@media screen and (min-width: 1240px) {
    .products-service__description--fourth {
        width: 143px;
        margin-right: 12.5px;
        padding-bottom: 0.5px;
    }
}
.products-service__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: inherit;
    width: 100%;
    height: 100%;
}

/* お客様の事例紹介 */
.case {
    padding: 50px 0 22.92px 0;
    background-color: #f3f9f6;
}
@media screen and (min-width: 768px) {
    .case {
        padding: 55px 0 50px 0;
    }
}
@media screen and (min-width: 1240px) {
    .case {
        padding: 55px 0 50px 0;
    }
}
.case__container {
    max-width: 358px;
    margin-inline: auto;
}
@media screen and (min-width: 768px) {
    .case__container {
        max-width: 1167px;
    }
}
@media screen and (min-width: 1240px) {
    .case__container {
        max-width: 1167px;
    }
}
@media screen and (min-width: 768px) {
    .case__text--jp {
        padding-right: 4.4px;
    }
}
@media screen and (min-width: 1240px) {
    .case__text--jp {
        padding-right: 4.4px;
    }
}
.case__heading {
    margin-bottom: 20.7px;
}
@media screen and (min-width: 768px) {
    .case__heading {
        margin-bottom: 25px;
    }
}
@media screen and (min-width: 1240px) {
    .case__heading {
        margin-bottom: 25px;
    }
}
.case__image {
    border-radius: 24px;
    width: 358px;
    height: 201px;
}
@media screen and (min-width: 768px) {
    .case__image {
        border-radius: 24px;
        width: 369px;
        height: 226px;
    }
}
@media screen and (min-width: 1240px) {
    .case__image {
        border-radius: 24px;
        width: 369px;
        height: 226px;
    }
}
@media screen and (min-width: 768px) {
    .case__items {
        display: flex;
        justify-content: space-between;
    }
}
.case__item {
    margin-bottom: 19px;
    width: 358px;
}
@media screen and (min-width: 768px) {
    .case__item {
        width: 369px;
        margin-bottom: 0;
    }
}
@media screen and (min-width: 1240px) {
    .case__item {
        width: 369px;
    }
}
.case__item--second {
    margin-bottom: 18.19px;
}
@media screen and (min-width: 768px) {
    .case__item--second {
        border-radius: 24px;
        margin-bottom: 0;
    }
}
.case__item:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease;
}
.case__description {
    padding: 7.39px 0 8px 2px;
    font-size: 18px;
    font-weight: bold;
    color: #09947b;
}
@media screen and (min-width: 768px) {
    .case__description {
        font-size: 19px;
        padding: 8.6px 0;
        border-radius: 0 0 24px 24px;
    }
}
@media screen and (min-width: 1240px) {
    .case__description {
        font-size: 19px;
        padding: 8.6px 0;
        border-radius: 0 0 24px 24px;
    }
}
.case__link {
    display: block;
    cursor: pointer;
}
/* お知らせ */
.news {
    padding: 50px 0 61.61px 0;
}
@media screen and (min-width: 768px) {
    .news {
        padding: 55px 0 70px 0;
    }
}
@media screen and (min-width: 1240px) {
    .news {
        padding: 55px 0 70px 0;
    }
}
.news__container {
    max-width: 360px;
    margin-inline: auto;
}
@media screen and (min-width: 768px) {
    .news__container {
        max-width: 900px;
    }
}
@media screen and (min-width: 1240px) {
    .news__container {
        max-width: 900px;
    }
}
.news__heading {
    margin-bottom: 20.5px;
}
@media screen and (min-width: 768px) {
    .news__heading {
        margin-bottom: 23.8px;
    }
}
@media screen and (min-width: 1240px) {
    .news__heading {
        margin-bottom: 23.8px;
    }
}
.news__item {
    border-top: 1px solid #ddd;
    padding: 14.81px 0 10.5px 0;
}
@media screen and (min-width: 768px) {
    .news__item {
        border-top: 1px solid #ddd;
        display: flex;
        padding: 16.41px 0 7.3px 0;
    }
}
@media screen and (min-width: 1240px) {
    .news__item {
        border-top: 1px solid #ddd;
        padding: 16.41px 0 7.3px 0;
    }
}
@media screen and (min-width: 768px) {
    .news__item--second {
        padding-bottom: 7.3px;
    }
}
@media screen and (min-width: 1240px) {
    .news__item--second {
        padding-bottom: 7.3px;
    }
}
@media screen and (min-width: 768px) {
    .news__item--third {
        padding-bottom: 7.4px;
    }
}
@media screen and (min-width: 1240px) {
    .news__item--third {
        padding-bottom: 7.4px;
    }
}
@media screen and (min-width: 768px) {
    .news__item--fourth {
        padding-bottom: 7.3px;
    }
}
@media screen and (min-width: 1240px) {
    .news__item--fourth {
        padding-bottom: 7.3px;
    }
}
.news__item--sixth {
    border-bottom: 1px solid #ddd;
}
@media screen and (min-width: 768px) {
    .news__item--sixth {
        border-bottom: 1px solid #ddd;
    }
}
@media screen and (min-width: 1240px) {
    .news__item--sixth {
        border-bottom: 1px solid #ddd;
    }
}
.news__date-category {
    display: flex;
    margin-bottom: 8.2px;
}
@media screen and (min-width: 768px) {
    .news__date-category {
        margin-bottom: 8.2px;
        margin-right: 22.6px;
    }
}
@media screen and (min-width: 1240px) {
    .news__date-category {
        margin-bottom: 8.2px;
        margin-right: 22.6px;
    }
}
.news__date {
    font-size: 15px;
    margin-right: 18px;
    line-height: 1;
    padding: 4.4px 0 0 0;
}
@media screen and (min-width: 768px) {
    .news__date {
        font-size: 14px;
        padding: 4.4px 0 0 0;
        margin-right: 19.6px;
    }
}
@media screen and (min-width: 1240px) {
    .news__date {
        font-size: 14px;
        padding: 4.4px 0 0 0;
        margin-right: 19.6px;
    }
}
.news__date--third {
    padding: 4.4px 0 0 0;
}
@media screen and (min-width: 768px) {
    .news__date--third {
        padding: 4.4px 0 0 0;
    }
}
@media screen and (min-width: 1240px) {
    .news__date--third {
        padding: 4.4px 0 0 0;
    }
}
@media screen and (min-width: 768px) {
    .news__date--fourth {
        padding: 4.4px 0 0 0;
    }
}
@media screen and (min-width: 1240px) {
    .news__date--fourth {
        padding: 4.4px 0 0 0;
    }
}
@media screen and (min-width: 768px) {
    .news__date--sixth {
        padding: 4.4px 0 0 0;
    }
}
@media screen and (min-width: 1240px) {
    .news__date--sixth {
        padding: 4.4px 0 0 0;
    }
}
.news__category {
    font-size: 13px;
    color: #fff;
    background-color: #473221;
    border-radius: 4px;
    padding: 8px 41px;
    line-height: 1;
}
@media screen and (min-width: 768px) {
    .news__category {
        font-size: 13px;
        border-radius: 4px;
        padding: 8px 41px;
    }
}
@media screen and (min-width: 1240px) {
    .news__category {
        font-size: 13px;
        border-radius: 4px;
        padding: 8px 41px;
    }
}
@media screen and (min-width: 768px) {
    .news__category--notice {
        padding: 6.4px 41px 8.6px 41px;
    }
}
@media screen and (min-width: 1240px) {
    .news__category--notice {
        padding: 6.4px 41px 8.6px 41px;
    }
}
.news__category--release {
    padding: 8px 14px 8px 16.8px;
}
@media screen and (min-width: 768px) {
    .news__category--release {
        padding: 6.8px 15.6px 8.5px 15.2px;
    }
}
@media screen and (min-width: 1240px) {
    .news__category--release {
        padding: 6.8px 15.6px 8.5px 15.2px;
    }
}
.news__description {
    font-size: 15px;
    font-weight: bold;
    max-width: 358px;
    padding: 0 0 0 2px;
}
@media screen and (min-width: 768px) {
    .news__description {
        font-size: 15px;
        padding: 0.6px 0 0 0.4px;
        letter-spacing: 0.1px;
    }
}
@media screen and (min-width: 1240px) {
    .news__description {
        font-size: 15px;
        padding: 0.6px 0 0 0.4px;
        letter-spacing: 0.1px;
    }
}
.news__list-link {
    position: relative;
    top: 0;
    box-shadow: 0 5px #066655;
    transition: 0.2s ease-in-out;
    background-color: #09947b;
    font-size: 18px;
    font-weight: bold;
    border-radius: 33px;
    max-width: 300px;
    display: block;
    margin-inline: auto;
    text-align: center;
    padding: 17px 0 17.2px 0;
    margin-top: 24.43px;
}
@media screen and (min-width: 768px) {
    .news__list-link {
        box-shadow: 0 5px #066655;
        max-width: 300px;
        padding: 17px 0 17.2px 0;
        margin-top: 31.8px;
        font-size: 18px;
        border-radius: 33px;
    }
}
@media screen and (min-width: 1240px) {
    .news__list-link {
        box-shadow: 0 5px #066655;
        max-width: 300px;
        padding: 17px 0 17.2px 0;
        margin-top: 31.8px;
        font-size: 18px;
        border-radius: 33px;
    }
}
.news__list-link:hover {
    top: 9px;
    box-shadow: 0 0 #066655;
}
@media screen and (min-width: 768px) {
    .news__list-link:hover {
        top: 9px;
    }
}
@media screen and (min-width: 1240px) {
    .news__list-link:hover {
        top: 9px;
    }
}
.news__link {
    color: #09947b;
}
.news__link:hover {
    opacity: 0.8;
}

/* メインビジュアル */
.price-cover {
    margin-top: 63px;
    padding: 20px 0 26px 0;
}
@media screen and (min-width: 768px) {
    .price-cover {
        margin-top: 114px;
        padding: 39px 0 47.4px 0;
    }
}
@media screen and (min-width: 1240px) {
    .price-cover {
        margin-top: 114px;
        padding: 39px 0 47.4px 0;
    }
}
.price-cover__container {
    max-width: 360px;
    margin-inline: auto;
}
@media screen and (min-width: 768px) {
    .price-cover__container {
        max-width: 1240px;
        position: relative;
        text-align: center;
    }
}
@media screen and (min-width: 1240px) {
    .price-cover__container {
        max-width: 1240px;
    }
}
@media screen and (min-width: 768px) {
    .price-cover__image {
        width: 1200px;
        height: 551px;
    }
}
@media screen and (min-width: 1240px) {
    .price-cover__image {
        width: 1200px;
        height: 551px;
    }
}
.price-cover__title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 18.5px;
    padding-left: 1.8px;
}
@media screen and (min-width: 768px) {
    .price-cover__title {
        font-size: 36px;
        margin-top: 18.5px;
        position: absolute;
        bottom: 35px;
        left: 19.6px;
        border-radius: 0 40px 0 0;
        background-color: #fff;
        padding: 23.2px 34.4px 31.8px 40px;
    }
}
@media screen and (min-width: 1240px) {
    .price-cover__title {
        font-size: 36px;
        margin-top: 18.5px;
        bottom: 35px;
        left: 19.6px;
        border-radius: 0 40px 0 0;
        padding: 23.2px 34.4px 31.8px 40px;
    }
}
@media screen and (min-width: 768px) {
    .price-cover__text {
        letter-spacing: 1px;
    }
}
@media screen and (min-width: 1240px) {
    .price-cover__text {
        letter-spacing: 1px;
    }
}
.price-cover__breadcrumb {
    margin-top: 16px;
}
@media screen and (min-width: 768px) {
    .price-cover__breadcrumb {
        margin: 18.9px 18.2px 0 0;
    }
}
@media screen and (min-width: 1240px) {
    .price-cover__breadcrumb {
        margin: 18.9px 18.2px 0 0;
    }
}
.price-cover__ol {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    justify-content: end;
}
.price-cover__link {
    color: #000;
}
.price-cover__link:hover {
    color: #0056b3;
}
.price-cover__list {
    display: flex;
    align-items: center;
    font-size: 12px;
}
@media screen and (min-width: 768px) {
    .price-cover__list {
        font-size: 12px;
    }
}
@media screen and (min-width: 1240px) {
    .price-cover__list {
        font-size: 12px;
    }
}
.price-cover__list--arrow::after {
    content: "";
    background-image: url("/assets/image/common/arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 5px;
    height: 10px;
    margin: 0 7.3px 0 6.5px;
    position: relative;
    display: inline-block;
}
@media screen and (min-width: 768px) {
    .price-cover__list--arrow::after {
        width: 5px;
        height: 10px;
        margin: 0 7.1px 0 8.3px;
    }
}
@media screen and (min-width: 1240px) {
    .price-cover__list--arrow::after {
        width: 5px;
        height: 10px;
        margin: 0 7.1px 0 8.3px;
    }
}

/* ギャラリー */
.price-gallery {
    padding: 0 0 51.5px 0;
}
@media screen and (min-width: 768px) {
    .price-gallery {
        padding: 0 0 59.5px 0;
    }
}
@media screen and (min-width: 1240px) {
    .price-gallery {
        padding: 0 0 59.5px 0;
    }
}
.price-gallery__container {
    max-width: 358px;
    margin-inline: auto;
}
@media screen and (min-width: 768px) {
    .price-gallery__container {
        max-width: 800px;
    }
}
@media screen and (min-width: 1240px) {
    .price-gallery__container {
        max-width: 800px;
    }
}
@media screen and (min-width: 768px) {
    .price-gallery__heading {
        padding: 0 0 19px 0;
        margin-bottom: 32.3px;
    }
}
@media screen and (min-width: 1240px) {
    .price-gallery__heading {
        padding: 0 0 19px 0;
        margin-bottom: 32.3px;
    }
}
.price-gallery__image {
    width: 100%;
    height: auto;
}

/* スワイパー(ギャラリーで使用) */
.swiper-slide {
    text-align: center;
    width: 358px;
    height: 237px;
}
@media screen and (min-width: 768px) {
    .swiper-slide {
        width: 800px;
        height: 500px;
    }
}
@media screen and (min-width: 1240px) {
    .swiper-slide {
        width: 800px;
        height: 500px;
    }
}

.swiper-pagination-bullet {
    background-color: #eee;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #168352;
}

.swiper-pagination-horizontal.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 4px;
    left: 0px;
}
@media screen and (min-width: 768px) {
    .swiper-pagination-horizontal.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 14.1px;
        left: 1.6px;
    }
}
@media screen and (min-width: 1240px) {
    .swiper-pagination-horizontal.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 14.1px;
        left: 1.6px;
    }
}

/* 特徴 */
.price-features {
    padding: 0 0 16.2px 0;
}
@media screen and (min-width: 768px) {
    .price-features {
        padding: 0 0 20.6px 0;
    }
}
@media screen and (min-width: 1240px) {
    .price-features {
        padding: 0 0 20.6px 0;
    }
}
.price-features__container {
    max-width: 358px;
    margin-inline: auto;
}
@media screen and (min-width: 768px) {
    .price-features__container {
        max-width: 800px;
    }
}
@media screen and (min-width: 1240px) {
    .price-features__container {
        max-width: 800px;
    }
}
@media screen and (min-width: 768px) {
    .price-features__items {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
}
.price-features__image {
    width: 358px;
    height: 200px;
}
@media screen and (min-width: 768px) {
    .price-features__image {
        width: 246px;
        height: 150px;
    }
}
@media screen and (min-width: 1240px) {
    .price-features__image {
        width: 246px;
        height: 150px;
    }
}
@media screen and (min-width: 768px) {
    .price-features__heading {
        padding: 0 0 18px 0;
        margin-bottom: 33.3px;
    }
}
@media screen and (min-width: 1240px) {
    .price-features__heading {
        padding: 0 0 18px 0;
        margin-bottom: 33.3px;
    }
}
.price-features__item {
    margin-bottom: 33px;
    width: 358px;
}
@media screen and (min-width: 768px) {
    .price-features__item {
        margin-bottom: 31.5px;
        width: 247px;
    }
}
@media screen and (min-width: 1240px) {
    .price-features__item {
        margin-bottom: 31.5px;
        width: 247px;
    }
}
.price-features__description {
    font-size: 18px;
    font-weight: bold;
    margin-top: 8.3px;
    line-break: anywhere;
    max-width: 350px;
}
@media screen and (min-width: 768px) {
    .price-features__description {
        font-size: 18px;
        max-width: 350px;
        margin-top: 6.9px;
        text-align: left;
    }
}
@media screen and (min-width: 1240px) {
    .price-features__description {
        font-size: 18px;
        max-width: 350px;
        margin-top: 6.9px;
    }
}
@media screen and (min-width: 768px) {
    .price-features__description--second {
        letter-spacing: 0.1px;
    }
}
@media screen and (min-width: 1240px) {
    .price-features__description--second {
        letter-spacing: 0.1px;
    }
}

/* メーカー小売価格 */
.price-manufacturer {
    padding: 0 0 42.3px 0;
}
@media screen and (min-width: 768px) {
    .price-manufacturer {
        padding: 0 0 48px 0;
    }
}
@media screen and (min-width: 1240px) {
    .price-manufacturer {
        padding: 0 0 48px 0;
    }
}
.price-manufacturer__container {
    max-width: 358px;
    margin-inline: auto;
}
@media screen and (min-width: 768px) {
    .price-manufacturer__container {
        max-width: 800px;
    }
}
@media screen and (min-width: 1240px) {
    .price-manufacturer__container {
        max-width: 800px;
    }
}
.price-manufacturer__heading {
    margin-bottom: 8.6px;
}
@media screen and (min-width: 768px) {
    .price-manufacturer__heading {
        margin-bottom: 16.6px;
        padding: 0 0 18.7px 0;
    }
}
@media screen and (min-width: 1240px) {
    .price-manufacturer__heading {
        margin-bottom: 16.6px;
        padding: 0 0 18.7px 0;
    }
}
.price-manufacturer__price {
    font-size: 32px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}
@media screen and (min-width: 768px) {
    .price-manufacturer__price {
        font-size: 32px;
    }
}
@media screen and (min-width: 1240px) {
    .price-manufacturer__price {
        font-size: 32px;
    }
}
.price-manufacturer__tax {
    font-size: 16px;
}
@media screen and (min-width: 768px) {
    .price-manufacturer__tax {
        font-size: 16px;
        padding: 0 0 0 1.3px;
    }
}
@media screen and (min-width: 1240px) {
    .price-manufacturer__tax {
        font-size: 16px;
        padding: 0 0 0 1.3px;
    }
}

/* スペック */
.price-spec {
    padding: 0 0 64px 0;
}
@media screen and (min-width: 768px) {
    .price-spec {
        padding: 0 0 70.8px 0;
    }
}
@media screen and (min-width: 1240px) {
    .price-spec {
        padding: 0 0 70.8px 0;
    }
}
.price-spec__container {
    max-width: 358px;
    margin-inline: auto;
}
@media screen and (min-width: 768px) {
    .price-spec__container {
        max-width: 800px;
    }
}
@media screen and (min-width: 1240px) {
    .price-spec__container {
        max-width: 800px;
    }
}
.price-spec__heading {
    margin-bottom: 23px;
}
@media screen and (min-width: 768px) {
    .price-spec__heading {
        margin-bottom: 31.4px;
        padding: 0 0 20.2px 0;
    }
}
@media screen and (min-width: 1240px) {
    .price-spec__heading {
        margin-bottom: 31.4px;
        padding: 0 0 20.2px 0;
    }
}
@media screen and (min-width: 768px) {
    .price-spec__detail {
        max-width: 740px;
        margin-inline: auto;
    }
}
@media screen and (min-width: 1240px) {
    .price-spec__detail {
        max-width: 740px;
    }
}
.price-spec__heading-three {
    font-size: 20px;
    font-weight: bold;
    border-left: 2px solid #168352;
    padding-left: 15.5px;
    margin-bottom: 17.1px;
    line-height: 1.5;
}
@media screen and (min-width: 768px) {
    .price-spec__heading-three {
        font-size: 24px;
        border-left: 2px solid #168352;
        padding-left: 17.3px;
        margin-bottom: 22.8px;
        line-height: 1.7;
    }
}
@media screen and (min-width: 1240px) {
    .price-spec__heading-three {
        font-size: 24px;
        border-left: 2px solid #168352;
        padding-left: 17.3px;
        margin-bottom: 22.8px;
    }
}
.price-spec__table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
@media screen and (min-width: 768px) {
    .price-spec__table {
        border: 1px solid #ddd;
    }
}
@media screen and (min-width: 1240px) {
    .price-spec__table {
        border: 1px solid #ddd;
    }
}
.price-spec__tr {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 768px) {
    .price-spec__tr {
        flex-direction: row;
    }
}
.price-spec__th, .price-spec__td {
    padding: 5px 0 5px 18.5px;
    font-size: 16px;
    text-align: left;
}
@media screen and (min-width: 768px) {
    .price-spec__th, .price-spec__td {
        padding: 16.4px 0 16.4px 17.7px;
        font-size: 16px;
    }
}
@media screen and (min-width: 1240px) {
    .price-spec__th, .price-spec__td {
        padding: 16.4px 0 16.4px 17.7px;
        font-size: 16px;
    }
}
.price-spec__th {
    border: 1px solid #ddd;
    border-bottom: none;
}
@media screen and (min-width: 768px) {
    .price-spec__th {
        border: 1px solid #ddd;
        width: 266.5px;
    }
}
@media screen and (min-width: 1240px) {
    .price-spec__th {
        border: 1px solid #ddd;
        width: 266.5px;
    }
}
.price-spec__td {
    border: 1px solid #ddd;
    border-bottom: none;
}
.price-spec__td--last {
    border-bottom: 1px solid #ddd;
}
@media screen and (min-width: 768px) {
    .price-spec__td {
        border: 1px solid #ddd;
        width: 100%;
        padding-left: 22.5px;
    }
}
@media screen and (min-width: 1240px) {
    .price-spec__td {
        border: 1px solid #ddd;
        padding-left: 22.5px;
    }
}
.price-spec__th {
    background-color: #f5f5f5;
    font-weight: bold;
}

/* お問い合わせ */
.price-contact {
    background-image: url("/assets/image/price/contact_sp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 360px;
}
@media screen and (min-width: 768px) {
    .price-contact {
        background-image: url("/assets/image/price/contact_pc.jpg");
        height: 450px;
        padding: 0;
        margin-top: 0;
    }
}
@media screen and (min-width: 1240px) {
    .price-contact {
        height: 450px;
    }
}
.price-contact__container {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    height: 100%;
}
.price-contact__btn {
    max-width: 358px;
    margin-inline: auto;
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 20px 0 21px 0;
    color: #fff;
    text-align: center;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 40px;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}
@media screen and (min-width: 768px) {
    .price-contact__btn {
        max-width: 358px;
        padding: 20.3px 0 22px 0;
        border: 2px solid #fff;
        border-radius: 40px;
        font-size: 20px;
        margin-bottom: 1.1px;
    }
}
@media screen and (min-width: 1240px) {
    .price-contact__btn {
        max-width: 358px;
        padding: 20.3px 0 22px 0;
        border: 2px solid #fff;
        border-radius: 40px;
        font-size: 20px;
        margin-bottom: 1.1px;
    }
}
.price-contact__btn:hover {
    background-color: #fff;
    color: #168352;
}

/* メインビジュアル */
.faq-cover {
    margin-top: 63px;
    padding: 20px 0 35px 0;
}
@media screen and (min-width: 768px) {
    .faq-cover {
        margin-top: 114px;
        padding: 40px 0 59.4px 0;
    }
}
@media screen and (min-width: 1240px) {
    .faq-cover {
        margin-top: 114px;
        padding: 40px 0 59.4px 0;
    }
}
.faq-cover__container {
    max-width: 360px;
    margin-inline: auto;
}
@media screen and (min-width: 768px) {
    .faq-cover__container {
        text-align: center;
        position: relative;
        max-width: 1240px;
    }
}
@media screen and (min-width: 1240px) {
    .faq-cover__container {
        max-width: 1240px;
    }
}
.faq-cover__image {
    width: 358px;
    height: 230px;
    margin-bottom: 17.8px;
}
@media screen and (min-width: 768px) {
    .faq-cover__image {
        width: 1200px;
        height: 550px;
        margin-bottom: 0;
    }
}
@media screen and (min-width: 1240px) {
    .faq-cover__image {
        width: 1200px;
        height: 550px;
    }
}
.faq-cover__title {
    font-size: 30px;
    font-weight: bold;
}
@media screen and (min-width: 768px) {
    .faq-cover__title {
        font-size: 36px;
        margin-top: 18.5px;
        position: absolute;
        bottom: 35px;
        left: 19.4px;
        border-radius: 0 40px 0 0;
        background-color: #fff;
        padding: 25px 34.4px 30px 40px;
    }
}
@media screen and (min-width: 1240px) {
    .faq-cover__title {
        font-size: 36px;
        margin-top: 18.5px;
        bottom: 35px;
        left: 19.4px;
        border-radius: 0 40px 0 0;
        padding: 25px 34.4px 30px 40px;
    }
}
.faq-cover__breadcrumb {
    margin-top: 16.61px;
}
@media screen and (min-width: 768px) {
    .faq-cover__breadcrumb {
        margin-top: 18.4px;
        padding-right: 18.3px;
    }
}
@media screen and (min-width: 1240px) {
    .faq-cover__breadcrumb {
        margin-top: 18.4px;
        padding-right: 18.3px;
    }
}
.faq-cover__ol {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    justify-content: end;
}
.faq-cover__link {
    color: #000;
}
.faq-cover__link:hover {
    color: #0056b3;
}
.faq-cover__list {
    display: flex;
    align-items: center;
    font-size: 12px;
}
@media screen and (min-width: 768px) {
    .faq-cover__list {
        font-size: 12px;
    }
}
@media screen and (min-width: 1240px) {
    .faq-cover__list {
        font-size: 12px;
    }
}
.faq-cover__list--highlight {
    font-weight: bold;
    color: #168352;
}
.faq-cover__list--arrow::after {
    content: "";
    background-image: url("/assets/image/common/arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 5px;
    height: 10px;
    margin: 0 7.3px 0 7.1px;
    position: relative;
    display: inline-block;
}
@media screen and (min-width: 768px) {
    .faq-cover__list--arrow::after {
        width: 5px;
        height: 10px;
        margin: 0 8px 0 6.5px;
    }
}
@media screen and (min-width: 1240px) {
    .faq-cover__list--arrow::after {
        width: 5px;
        height: 10px;
        margin: 0 8px 0 6.5px;
    }
}

/* FAQ */
.faq {
    padding-bottom: 145px;
}
@media screen and (min-width: 768px) {
    .faq {
        padding-bottom: 48.4px;
    }
}
@media screen and (min-width: 1240px) {
    .faq {
        padding-bottom: 48.4px;
    }
}
.faq__container {
    max-width: 358px;
    margin-inline: auto;
}
@media screen and (min-width: 768px) {
    .faq__container {
        max-width: 800px;
    }
}
@media screen and (min-width: 1240px) {
    .faq__container {
        max-width: 800px;
    }
}
.faq__accordion {
    border: 1px solid #ccc;
    border-radius: 16px;
    margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
    .faq__accordion {
        border: 1px solid #ccc;
        border-radius: 16px;
        margin-bottom: 24px;
    }
}
@media screen and (min-width: 1240px) {
    .faq__accordion {
        border: 1px solid #ccc;
        border-radius: 16px;
        margin-bottom: 24px;
    }
}
.faq__accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}
.faq__accordion-content.open {
    max-height: 500px;
}
@media screen and (min-width: 768px) {
    .faq__accordion-content.open {
        max-height: 500px;
    }
}
@media screen and (min-width: 1240px) {
    .faq__accordion-content.open {
        max-height: 500px;
    }
}
.faq__accordion-q {
    display: flex;
    align-items: flex-start;
    padding: 23px 24px 0 23px;
}
.faq__accordion-q--second {
    padding-top: 23px;
}
.faq__accordion-q--third {
    padding-top: 23px;
}
@media screen and (min-width: 768px) {
    .faq__accordion-q {
        padding: 22.79px 31px 15px 31px;
    }
}
@media screen and (min-width: 1240px) {
    .faq__accordion-q {
        padding: 22.79px 31px 15px 31px;
    }
}
.faq__text {
    display: block;
}
.faq__text-q {
    font-size: 24px;
    font-weight: bold;
    color: #168352;
    font-family: "Montserrat", sans-serif;
    line-height: 1;
}
@media screen and (min-width: 768px) {
    .faq__text-q {
        font-size: 24px;
        position: relative;
        top: -2.1px;
    }
}
@media screen and (min-width: 1240px) {
    .faq__text-q {
        font-size: 24px;
        top: -2.1px;
    }
}
.faq__item {
    padding: 0 0 0 16px;
}
@media screen and (min-width: 768px) {
    .faq__item {
        padding: 0 0 0 14.8px;
    }
}
@media screen and (min-width: 1240px) {
    .faq__item {
        padding: 0 0 0 14.8px;
    }
}
.faq__categories {
    display: flex;
    margin-right: 7.8px;
}
@media screen and (min-width: 768px) {
    .faq__categories {
        margin-right: 7.8px;
    }
}
@media screen and (min-width: 1240px) {
    .faq__categories {
        margin-right: 7.8px;
    }
}
.faq__category {
    text-align: center;
    border-radius: 4px;
    border: 1px solid #168352;
    font-size: 11px;
    padding: 1.2px 10.4px 1.2px;
    display: block;
    width: 100px;
    height: 24px;
    color: #168352;
    white-space: nowrap;
}
@media screen and (min-width: 768px) {
    .faq__category {
        border-radius: 4px;
        border: 1px solid #168352;
        font-size: 11px;
        padding: 1.2px 10.4px 1.2px;
        width: 100px;
        height: 24px;
    }
}
@media screen and (min-width: 1240px) {
    .faq__category {
        border-radius: 4px;
        border: 1px solid #168352;
        font-size: 11px;
        padding: 1.2px 10.4px 1.2px;
        width: 100px;
        height: 24px;
    }
}
.faq__category--first {
    margin-right: 8px;
}
@media screen and (min-width: 768px) {
    .faq__category--first {
        margin-right: 8px;
    }
}
@media screen and (min-width: 1240px) {
    .faq__category--first {
        margin-right: 8px;
    }
}
.faq__question {
    font-size: 16px;
    font-weight: bold;
    padding: 0.8px 9px 0 0.3px;
}
@media screen and (min-width: 768px) {
    .faq__question {
        font-size: 18px;
        padding: 8.6px 9px 0 0.5px;
    }
}
@media screen and (min-width: 1240px) {
    .faq__question {
        font-size: 18px;
        padding: 8.6px 9px 0 0.5px;
    }
}
.faq__question--fifth {
    line-break: anywhere;
}
.faq__question--seventh {
    line-break: anywhere;
    padding-right: 14.85px;
}
@media screen and (min-width: 768px) {
    .faq__question--seventh {
        padding-right: 14.85px;
    }
}
@media screen and (min-width: 1240px) {
    .faq__question--seventh {
        padding-right: 14.85px;
    }
}
.faq__question--eighth {
    line-break: anywhere;
    padding-right: 14.85px;
}
@media screen and (min-width: 768px) {
    .faq__question--eighth {
        padding-right: 14.85px;
    }
}
@media screen and (min-width: 1240px) {
    .faq__question--eighth {
        padding-right: 14.85px;
    }
}
.faq__accordion-content {
    padding: 0 19px 15.1px 23px;
}
@media screen and (min-width: 768px) {
    .faq__accordion-content {
        padding: 0 24px 16px 30px;
    }
}
@media screen and (min-width: 1240px) {
    .faq__accordion-content {
        padding: 0 24px 16px 30px;
    }
}
.faq__accordion-icon {
    margin-left: auto;
}
.faq__icon--plus {
    height: 19px;
    width: 19px;
}
@media screen and (min-width: 768px) {
    .faq__icon--plus {
        height: 19px;
        width: 19px;
    }
}
@media screen and (min-width: 1240px) {
    .faq__icon--plus {
        height: 19px;
        width: 19px;
    }
}
.faq__icon--minus {
    margin-top: 11.4px;
    height: 3px;
    width: 20px;
}
@media screen and (min-width: 768px) {
    .faq__icon--minus {
        margin-top: 11px;
        height: 3px;
        width: 20px;
    }
}
@media screen and (min-width: 1240px) {
    .faq__icon--minus {
        margin-top: 11px;
        height: 3px;
        width: 20px;
    }
}
.faq__answer {
    font-size: 16px;
    padding: 1.6px 1.6px 1.6px 3.8px;
    line-break: anywhere;
}
.faq__answer--first, .faq__answer--second, .faq__answer--third {
    padding: 1.6px;
}
.faq__answer--fifth {
    padding: 0 1.6px 1.6px 3.8px;
}
.faq__answer--eleventh {
    padding: 9.8px 1.6px 1.6px 3.8px;
}
@media screen and (min-width: 768px) {
    .faq__answer {
        font-size: 16px;
        padding: 1.6px;
    }
}
@media screen and (min-width: 1240px) {
    .faq__answer {
        font-size: 16px;
        padding: 1.6px;
    }
}
@media screen and (min-width: 768px) {
    .faq__answer--seventh {
        padding-right: 7.3px;
    }
}
@media screen and (min-width: 1240px) {
    .faq__answer--seventh {
        padding-right: 7.3px;
    }
}/*# sourceMappingURL=main.css.map */